/dist
/node_modules
/build

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store
/coverage
/.nyc_output
/.idea
.vscode/*
!.vscode/settings.json
.env
.temp
.tmp